{# Pagina pai #}
{% extends "layout.twig" %}

{# Titulo da pagina #}
{% block title %}404{% endblock %}

{# Conteudo #}
{% block lista_de_posts %}
    <div class="container">
        <h1>Conteúdo não encontrado</h1>
        <hr>
        <p>O post com o ID {{id}} não existe</p>
    </div>
{% endblock %}
