{# Pagina pai #}
{% extends "layout.twig" %}

{# Titulo da pagina #}
{% block title %}Lista de Posts{% endblock %}

{# Conteudo #}
{% block lista_de_posts %}
    <div class="container">
        <h1>Lista de posts</h1>
        
        {# Posts #}
        
        {% if posts %}
            
            {# se o array posts nao estiver vazio #}
            {% for item in posts %}
                {# path() acessa a rota nomeada e concatena com o ID #}
                <h2><a href="{{path('lista-posts') ~ item.id}}">{{item.id}}</a></h2>
                <p>{{item.conteudo}}</p>
                <hr>
            {% endfor %}
            
        {% else %}
            <p>Nenhum registro encontrado</p>
        {% endif %}        
        
    </div>
{% endblock %}
