{# Pagina pai #}
{% extends "layout.twig" %}

{# Titulo da pagina #}
{% block title %}Lista de Posts{% endblock %}

{# Conteudo #}
{% block lista_de_posts %}
    <div class="container">
        <h1 style="margin-bottom: 30px">Lista de posts</h1>
        
        {# Posts #} 
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Post</th>
                    <th colspan="2"></th>
                </thead>
            {% if lista_posts %}                
                {# se o array posts nao estiver vazio #}
                {% for item in lista_posts %}
                    {# path() acessa a rota nomeada e concatena com o ID #}
                    <tr>
                        <td class="col-sm-8">
                            <h2><a href="{{path('lista-posts') ~ item.id}}">{{item.titulo}}</a></h2>
                            <p>{{item.conteudo|raw[:100]|striptags}} {# Filtro "raw" nao escapa o HTML, e usado quando o HTML deve ser interpretado#}</p>
                        </td>
                        <td class="col-sm-2" style="vertical-align: middle">
                            <a href="{{path('edita-post') ~ item.id}}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Editar</a>
                        </td>
                        <td class="col-sm-2" style="vertical-align: middle">
                            <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Deletar</a>
                        </td>
                    </tr>
                {% endfor %}

            {% else %}
                <p>Nenhum registro encontrado</p>
            {% endif %}            
            </table>
        </div>
        
    </div>
{% endblock %}
