{# Pagina pai #}
{% extends "layout.twig" %}

{# Titulo da pagina #}
{% block title %}Post único{% endblock %}

{# Conteudo #}
{% block lista_de_posts %}
    <div class="container">
        <h1>Post único</h1>
        <hr>
        
        <h2>{{titulo}}</h2>
        <p style="margin-bottom: 30px;">{{conteudo}}</p> 
        <p><a href="{{path('lista-posts')}}">Voltar para a lista</a></p>        
        
    </div>
{% endblock %}
